@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Learn about the cultures around the world!</h1>
<p></p>
<h1>Latin Countries</h1>

<h2>Guatemala</h2>

<p>Guatemala is a Country located in Central America. The culture of Guatemala reflects the Mayan and
    Spanish influences. It has many flavorful foods, such as:
    <li>Shucos: Guatemalan style hot dog</li>
    <li>Garnachas</li>
    <li>Pepian</li>
    <li>Tamales (Different from typical Mexican Tamales)</li>
    <li>Tostadas</li>
    </p>

<h2>Mexico</h2>

<p>Mexico is a Country located in North America. Mexico has heavy influences from the Aztec and Mayan 
    civilization, as well as Spanish. Mexico has a lot of great food to try:
    <li>Pozole</li>
    <li>Enchiladas</li>
    <li>Tortas</li>
    <li>Tamales</li>
    <li>Mole</li>
    </p>

<h1>Asian Countries</h1>
<p></p>
<h2>Korea</h2>
<p>Korea is a Country located in East Asia. Koreans value hard work and family. There are many great 
    dishes to try from Korea, including:
    <li>Kimchi Stew</li>
    <li>Bibimbap</li>
    <li>Bulgogi</li>

    It is important to avoid being rude when visiting Korea. Many things that are considered okay in 
    one's culture, may not be appropriate in Korea. </p>

<h2>Japan</h2>
<p>Japan is located off the coast of East Asia. They are a great string of Islands which stretch
    approximately 1,500 miles</p>

<h2>China</h2>
<p>China is located in East Asia. It is one of the oldest cultures that traces back to thousands of
    years. </p>