@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to True Culture</h1>
    <p>Learn about different cultures <a href="https://docs.microsoft.com/aspnet/core">Learning can be fun!</a>.</p>
</div>
<h2>What we offer</h2>
<p>We offer a fun learning environment, where you can meet and talk to people to better learn the 
    language you are studying. There are Lessons, quizzes, and even a story board where you can
    practice writing in your target language, and a person who is native in that language can offer
    you help by correcting you and suggesting different words you can use.</p>

<h2>All about Culture</h2>
<p>With learning a language, it is also important to learn the culture of those who speak the language.
    Many Countries have their own culture that makes them unique. It is important when traveling to other
    countries, you learn their cultures, it can save you from getting in trouble!</p>