@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to True Culture</h1>
    <p>Learn about different cultures <a href="https://docs.microsoft.com/aspnet/core">Learning can be fun!</a>.</p>
</div>
