@Model TrueCulture3.Models.Translation

<link rel="stylesheet" href="/css/Quiz.css"/>
<h1> Quiz </h1>
<form method="post">
    <div class="Quiz-block-column p-1">
        <h3>Q1. What does the translation of the following word? Adios</h3>
        <div class="Quiz-block">
            <input type="radio" name="Question1" id="Question1" value="Goodbye" />
            <h5>Goodbye</h5>
        </div>

        <div class="Quiz-block">
            <input type="radio" name="Question1" id="Question1" value="Hello" />
            <h5>Hello</h5>
        </div>

        <div class="Quiz-block">
            <input type="radio" name="Question1" id="Question1" value="Woman" />
            <h5>Woman</h5>
        </div>

        <div class="Quiz-block">
            <input type="radio" name="Question1" id="Question1" value="Cat" />
            <h5>Cat</h5>
        </div>

    </div>

    <div class="Quiz-block-column p-1">
        <h3>Q1. What is the translation of the following word? Mujer</h3>
        <div class="Quiz-block">
            <input type="radio" name="Question1" id="Question1" value="Child" />
            <h5>Child</h5>
        </div>
        <div class="Quiz-block">
            <input type="radio" name="Question1" id="Question1" value="Cat" />
            <h5>Cat</h5>
        </div>
        <div class="Quiz-block">
            <input type="radio" name="Question1" id="Question1" value="Woman" />
            <h5>Woman</h5>
        </div>
        <div class="Quiz-block">
            <input type="radio" name="Question1" id="Question1" value="Boy" />
            <h5>Boy</h5>
        </div>
    </div>

    <div class="Quiz-block-column p-1">
        <h3>Q1. What is the translation of the following word? Biblioteca</h3>
        <div class="Quiz-block">
            <input type="radio" name="Question1" id="Question1" value="Library" />
            <h5>Library</h5>
        </div>
        <div class="Quiz-block">
            <input type="radio" name="Question1" id="Question1" value="Book Store" />
            <h5>Book Store</h5>
        </div>
        <div class="Quiz-block">
            <input type="radio" name="Question1" id="Question1" value="Grocery Store" />
            <h5>Grocery Store</h5>
        </div>
        <div class="Quiz-block">
            <input type="radio" name="Question1" id="Question1" value="Museum" />
            <h5>Museum</h5>
        </div>
    </div>

    <div class="Quiz-block-column p-1">
        <h3>Q1. What is the translation of the following word? Carro</h3>
        <div class="Quiz-block">
            <input type="radio" name="Question1" id="Question1" value="Back Pack" />
            <h5>Back Pack</h5>
        </div>
        <div class="Quiz-block">
            <input type="radio" name="Question1" id="Question1" value="Shoes" />
            <h5>Shoes</h5>
        </div>
        <div class="Quiz-block">
            <input type="radio" name="Question1" id="Question1" value="Pencil" />
            <h5>Pencil</h5>
        </div>
        <div class="Quiz-block">
            <input type="radio" name="Question1" id="Question1" value="Car" />
            <h5>Car</h5>
        </div>
    </div>

    <div class="Quiz-block-column p-1">
        <h3>Q1. What is the translation of the following word? Perro</h3>
        <div class="Quiz-block">
            <input type="radio" name="Question1" id="Question1" value="Dog" />
            <h5>Dog</h5>
        </div>
        <div class="Quiz-block">
            <input type="radio" name="Question1" id="Question1" value="Cat" />
            <h5>Cat</h5>
        </div>
        <div class="Quiz-block">
            <input type="radio" name="Question1" id="Question1" value="Rabbit" />
            <h5>Rabbit</h5>
        </div>
        <div class="Quiz-block">
            <input type="radio" name="Question1" id="Question1" value="Turtle" />
            <h5>Turtle</h5>
        </div>
    </div>

    <input type="submit" value="Finish" />
</form>